body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 30px;
}

.orange-font {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 80%;
    padding-left: 1%;
    padding-left: 2%;
}

.half-width image {
    width: 10%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 1% 5%;
    margin-top: 5%px;
    border-radius: 5%;
    color: white;

    font-weight: 600;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.practice {
    font-size: larger;
}

.far {
    margin: 5% 50% 20% 5%;
}

.background-add {
    background-color: olive;
    width: 200px;
    text-align: center;
    border-radius: 8px;
}

.dream-big {
    display: flex;
    margin: 50px 0px 0px 20px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}